.navigation {
    background: black;
    
}
.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navContent h3 {
    color: rgb(214, 208, 208);
}

.navContent button {
    color: white;
    background: rgb(121, 172, 21);
    padding: 10px 15px;
    border-radius: 10px;

}

